$dark1: #121212;
$darkModal: #12121280;
$white: #fff;
$btnPrimary: #e4c1ae;
$btnSecondary: #e59468;
$even: #e2d1c7;

@mixin flexColumn {
  display: flex;
  flex-flow: column wrap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

.section {
  @include flexColumn();
  position: relative;
  margin: 1rem;
  max-width: 1440px;
  &__figure {
    margin: 1rem auto;

    .section__img {
      content: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg');
    }
  }
  &__desc {
    @include flexColumn();
    .section__title {
      color: $dark1;
      font-size: 2.625rem;
      font-weight: 700;
      margin: 1.5rem 0;
    }
    .section__text {
      color: $dark1;
      font-weight: 300;
      line-height: 1.5rem;
    }
    .section__btn {
      user-select: none;
      margin: 2rem auto;
      width: 8rem;
      padding: 1rem 2.5rem;
      border-radius: 2rem;
      border: none;
      background-color: $btnPrimary;
      color: $white;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        background-color: $btnSecondary;
      }
    }
  }
  &__modal {
    position: fixed;
    background-color: $darkModal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 2;
    .section__alert {
      @include flexColumn();
      background-color: $white;
      padding: 1.5rem;
      position: relative;
      transition: all 0.5s linear;
      .alert__icon {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        user-select: none;
      }
      .alert__title {
        font-size: 2.625rem;
        padding-bottom: 1.5rem;
        font-weight: 700;
      }
      .alert__text {
        font-size: 1rem;
        padding-bottom: 1rem;
        span {
          font-weight: bold;
        }
      }
      .alert__button {
        user-select: none;
        padding: 0.5rem 2.5rem;
        // margin: 0 0 1rem 0;
        border-radius: 2rem;
        border: none;
        background-color: $btnPrimary;
        color: $white;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover {
          background-color: $btnSecondary;
        }
      }
      .alert__users {
        display: none;
      }
    }
  }
}
.hide {
  display: none;
}
.show {
  visibility: visible;
  display: flex;
  animation: modalShow 0.3s linear;
}
.even {
  background-color: $even;
}

@media only screen and (min-width: 768px) {
  .section {
    margin: 1rem 3rem;
    max-width: 1440px;
    &__figure {
      margin: 1rem auto;
      .section__img {
        content: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_450.jpg');
      }
    }
    &__modal {
      .section__alert {
        padding: 2rem;
        width: 35rem;
        .alert__icon {
          top: 30px;
          right: 30px;
        }
        .alert__users {
          display: flex;
          margin: 1rem auto;
          font-size: 10px;
          .users__loader {
            font-size: 16px;
            animation: loading 1s linear infinite;
          }
          .users__table {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    display: flex;
    flex-flow: row wrap;
    margin: 5rem auto;
    max-width: 1440px;
    &__figure {
      margin: 0 95px 0 200px;

      .section__img {
        content: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg');
      }
    }
    &__desc {
      padding: 1rem 0 0 0;
      width: 23.75rem;
      .section__btn {
        margin: 2rem 0;
      }
    }
    &__modal {
      .section__alert {
        width: 920px;
        min-height: 210px;
        // padding: 56px 445px 0px 95px;
        .alert__icon {
          top: 30px;
          right: 30px;
        }
        .alert__title {
          padding-bottom: 1.5rem;
        }
        .alert__button {
          width: 15rem;
          margin: 1rem;
        }
        .alert__users {
          margin: auto;
          font-size: 12px;
          .users__loader {
            font-size: 20px;
          }
        }
      }
    }
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
