$dark1: #121212;
$darkModal: #12121280;
$white: #fff;
$btnPrimary: #e4c1ae;
$btnSecondary: #e59468;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}

.section {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  margin: 1rem;
  max-width: 1440px;
  &__figure {
    margin: 1rem auto;

    .section__img {
      content: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg');
    }
  }
  &__desc {
    display: flex;
    flex-flow: column;
    .section__title {
      color: $dark1;
      font-size: 2.625rem;
      font-weight: 700;
      margin: 1.5rem 0;
    }
    .section__text {
      color: $dark1;
      font-weight: 300;
      line-height: 1.5rem;
    }
    .section__btn {
      margin: 2rem auto;
      width: 8rem;
      padding: 1rem 2.5rem;
      border-radius: 2rem;
      border: none;
      background-color: $btnPrimary;
      color: $white;
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        background-color: $btnSecondary;
      }
    }
  }
  &__modal {
    position: fixed;
    background-color: $darkModal;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    .section__alert {
      background-color: $white;
      display: flex;
      flex-flow: column wrap;
      padding: 1.5rem;
      position: relative;
      .alert__icon {
        position: absolute;
        top: 20px;
        right: 20px;
      }
      .alert__title {
        font-size: 2.625rem;
        padding-bottom: 1.5rem;
        font-weight: 700;
      }
      .alert__text {
        font-size: 1rem;
        padding-bottom: 1rem;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .section {
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 3rem;
    max-width: 1440px;
    &__figure {
      margin: 1rem auto;
      .section__img {
        content: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_450.jpg');
      }
    }
    &__modal {
      .section__alert {
        padding: 2rem;
        width: 35rem;
        .alert__icon {
          top: 30px;
          right: 30px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    display: flex;
    flex-flow: row wrap;
    margin: 5rem auto;
    max-width: 1440px;
    &__figure {
      margin: 0 95px 0 200px;

      .section__img {
        content: url('/frontend-recruitment-task/images/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg');
      }
    }
    &__desc {
      padding: 1rem 0 0 0;
      display: flex;
      width: 23.75rem;
      flex-flow: column wrap;
      .section__btn {
        margin: 2rem 0;
      }
    }
    &__modal {
      .section__alert {
        width: 920px;
        height: 210px;
        padding: 56px 445px 0px 95px;
      }
      .alert__icon {
        top: 30px;
        right: 30px;
      }
      .alert__title {
        padding-bottom: 1.5rem;
      }
    }
  }
}
